# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:intent-ermine-620 # team: rex-diaz, project: camo-ammo-mobile

EXPO_PUBLIC_CONVEX_URL=https://intent-ermine-620.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://intent-ermine-620.convex.site
